@import url('https://fonts.googleapis.com/css?family=Inconsolata');

#gpt-shark-root {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #fafafa;
    font-family: 'Inconsolata', monospace, sans-serif;
}

.gpt-shark-console__title {
    position: absolute;
    height: 36px;
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #bdbdbd;
}

.gpt-shark-console__body {
    position: absolute;
    top: 36px;
    height: calc(100% - 36px);
    width: 100%;
    overflow-y: scroll;
}

.gpt-shark-console__slot {
    margin: 2px 2px;
    padding: 10px 12px;
    background-color: #e0e0e0;
}
